<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Image-captioning</h1>
    <div class="content">
        <h1 style="text-align: center"></h1>
    </div>
</head>
<body>
    <div>
        <form method="POST" action="/predict" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit">
        </form>
    </div>

    <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="https://github.com/nikitabuts/video_captioning">Github/video_captioning</a></p>
                </div>
            </div>
        </footer>

</body>
</html>
